<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>6613897778-sgf6d8m1b5n8gef8s7lv8kjj5o2npam1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6613897778-sgf6d8m1b5n8gef8s7lv8kjj5o2npam1</string>
	<key>API_KEY</key>
	<string>AIzaSyCmaZzQ4bVQmNQEv-cIjwbh3zK3nDruDL8</string>
	<key>GCM_SENDER_ID</key>
	<string>6613897778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Aidrone</string>
	<key>PROJECT_ID</key>
	<string>drone-1f46b</string>
	<key>STORAGE_BUCKET</key>
	<string>drone-1f46b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6613897778:ios:81be6b5179b6f25b</string>
	<key>DATABASE_URL</key>
	<string>https://drone-1f46b.firebaseio.com</string>
</dict>
</plist>